[submodule "Submodules/ConceptScroll"]
	path = Submodules/ConceptScroll
	url = https://github.com/genkernel/ConceptScroll
[submodule "Submodules/TreeView"]
	path = Submodules/TreeView
	url = https://github.com/genkernel/TreeView
[submodule "Submodules/AMWaveTransition"]
	path = Submodules/AMWaveTransition
	url = https://github.com/andreamazz/AMWaveTransition.git
