<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>GitBaseUrl</key>
		<string>github.com</string>
		<key>LogoIcon</key>
		<string>GitHub-Mark-120px-plus.png</string>
		<key>Name</key>
		<string>Github</string>
		<key>RecentRepoPath</key>
		<string>github/developer.github.com.git</string>
		<key>RecentBranchName</key>
		<string>master</string>
		<key>SaveDirectoryName</key>
		<string>git@github.com</string>
		<key>SupportedProtocols</key>
		<array>
			<string>git://</string>
			<string>https://</string>
			<string>http://</string>
		</array>
		<key>TransferProtocol</key>
		<string>ssh://</string>
	</dict>
	<dict>
		<key>GitBaseUrl</key>
		<string>bitbucket.org</string>
		<key>LogoIcon</key>
		<string>bitbucket.png</string>
		<key>Name</key>
		<string>BitBucket</string>
		<key>RecentRepoPath</key>
		<string>LaNMaSteR53/recon-ng.git</string>
		<key>RecentBranchName</key>
		<string>master</string>
		<key>SaveDirectoryName</key>
		<string>bitbucket.org</string>
		<key>SupportedProtocols</key>
		<array>
			<string>https://</string>
		</array>
		<key>TransferProtocol</key>
		<string>https://</string>
	</dict>
	<dict>
		<key>GitBaseUrl</key>
		<string>mikie@192.168.1.10</string>
		<key>LogoIcon</key>
		<string>Git-Icon.png</string>
		<key>Name</key>
		<string>mikie@realm</string>
		<key>RecentRepoPath</key>
		<string>Users/mikie/Repos/GitUp.git</string>
		<key>RecentBranchName</key>
		<string>master</string>
		<key>SaveDirectoryName</key>
		<string>mikie@realm</string>
		<key>SupportedProtocols</key>
		<array>
			<string>git://</string>
			<string>https://</string>
			<string>http://</string>
		</array>
		<key>TransferProtocol</key>
		<string>ssh://</string>
	</dict>
	<dict>
		<key>GitBaseUrl</key>
		<string>git@bitbucket.org</string>
		<key>LogoIcon</key>
		<string>Git-Icon.png</string>
		<key>Name</key>
		<string>livetell-ssh</string>
		<key>RecentRepoPath</key>
		<string>livetell/aeva_ios.git</string>
		<key>RecentBranchName</key>
		<string>develop</string>
		<key>SaveDirectoryName</key>
		<string>livetell</string>
		<key>SupportedProtocols</key>
		<array>
			<string>git://</string>
			<string>https://</string>
			<string>http://</string>
		</array>
		<key>TransferProtocol</key>
		<string>ssh://</string>
	</dict>
</array>
</plist>
