<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>RecentRepoPath</key>
		<string>github/markup.git</string>
		<key>SupportedProtocols</key>
		<array>
			<string>git://</string>
			<string>https://</string>
			<string>http://</string>
		</array>
		<key>TransferProtocol</key>
		<string>https://</string>
		<key>LogoIcon</key>
		<string>GitHub-Mark-120px-plus.png</string>
		<key>SaveDirectoryName</key>
		<string>github.com</string>
		<key>Name</key>
		<string>Github</string>
		<key>GitBaseUrl</key>
		<string>github.com</string>
	</dict>
	<dict>
		<key>RecentRepoPath</key>
		<string>LaNMaSteR53/recon-ng.git</string>
		<key>TransferProtocol</key>
		<string>https://</string>
		<key>SupportedProtocols</key>
		<array>
			<string>https://</string>
		</array>
		<key>LogoIcon</key>
		<string>bitbucket.png</string>
		<key>SaveDirectoryName</key>
		<string>bitbucket.org</string>
		<key>Name</key>
		<string>BitBucket</string>
		<key>GitBaseUrl</key>
		<string>bitbucket.org</string>
	</dict>
</array>
</plist>
