<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>GitBaseUrl</key>
		<string>github.com</string>
		<key>LogoIcon</key>
		<string>GitHub-Mark-120px-plus.png</string>
		<key>Name</key>
		<string>Github</string>
		<key>RecentBranchName</key>
		<string>master</string>
		<key>RecentRepoPath</key>
		<string>github/linguist</string>
		<key>RecentRepos</key>
		<dict>
			<key>libgit2/objective-git</key>
			<dict>
				<key>lastAccessDate</key>
				<date>2013-07-26T12:06:10Z</date>
				<key>relativePath</key>
				<string>libgit2/objective-git</string>
			</dict>
			<key>x2on/libssh2-for-iOS</key>
			<dict>
				<key>lastAccessDate</key>
				<date>2013-07-26T12:05:10Z</date>
				<key>relativePath</key>
				<string>x2on/libssh2-for-iOS</string>
			</dict>
			<key>genkernel/ConceptScroll</key>
			<dict>
				<key>lastAccessDate</key>
				<date>2013-07-26T12:04:10Z</date>
				<key>relativePath</key>
				<string>genkernel/ConceptScroll</string>
			</dict>
			<key>mattconnolly/ZipArchive</key>
			<dict>
				<key>lastAccessDate</key>
				<date>2013-07-26T12:03:10Z</date>
				<key>relativePath</key>
				<string>mattconnolly/ZipArchive</string>
			</dict>
			<key>h5bp/mobile-boilerplate</key>
			<dict>
				<key>lastAccessDate</key>
				<date>2013-07-26T12:02:10Z</date>
				<key>relativePath</key>
				<string>h5bp/mobile-boilerplate</string>
			</dict>
			<key>ldandersen/STUtils</key>
			<dict>
				<key>lastAccessDate</key>
				<date>2013-07-26T12:01:10Z</date>
				<key>relativePath</key>
				<string>ldandersen/STUtils</string>
			</dict>
		</dict>
		<key>SaveDirectoryName</key>
		<string>git@github.com</string>
		<key>SupportedProtocols</key>
		<array>
			<string>git://</string>
			<string>https://</string>
			<string>http://</string>
		</array>
		<key>TransferProtocol</key>
		<string>https://</string>
	</dict>
	<dict>
		<key>GitBaseUrl</key>
		<string>bitbucket.org</string>
		<key>LogoIcon</key>
		<string>bitbucket.png</string>
		<key>Name</key>
		<string>BitBucket</string>
		<key>RecentBranchName</key>
		<string>master</string>
		<key>RecentRepoPath</key>
		<string>LaNMaSteR53/recon-ng</string>
		<key>RecentRepos</key>
		<dict/>
		<key>SaveDirectoryName</key>
		<string>bitbucket.org</string>
		<key>SupportedProtocols</key>
		<array>
			<string>https://</string>
		</array>
		<key>TransferProtocol</key>
		<string>https://</string>
	</dict>
	<dict>
		<key>GitBaseUrl</key>
		<string>mikie@192.168.1.10</string>
		<key>LogoIcon</key>
		<string>Git-Icon.png</string>
		<key>Name</key>
		<string>mikie@realm</string>
		<key>RecentBranchName</key>
		<string>master</string>
		<key>RecentRepoPath</key>
		<string>Users/mikie/Repos/GitUp</string>
		<key>RecentRepos</key>
		<dict>
			<key>Users/mikie/Repos/GitUp.git</key>
			<dict>
				<key>lastAccessDate</key>
				<date>2013-07-25T18:48:09Z</date>
				<key>relativePath</key>
				<string>Users/mikie/Repos/GitUp.git</string>
			</dict>
		</dict>
		<key>SaveDirectoryName</key>
		<string>mikie@realm</string>
		<key>SupportedProtocols</key>
		<array>
			<string>git://</string>
			<string>https://</string>
			<string>http://</string>
		</array>
		<key>TransferProtocol</key>
		<string>ssh://</string>
	</dict>
	<dict>
		<key>GitBaseUrl</key>
		<string>git@bitbucket.org</string>
		<key>LogoIcon</key>
		<string>Git-Icon.png</string>
		<key>Name</key>
		<string>livetell-ssh</string>
		<key>RecentBranchName</key>
		<string>develop</string>
		<key>RecentRepoPath</key>
		<string>livetell/aeva_ios</string>
		<key>RecentRepos</key>
		<dict/>
		<key>SaveDirectoryName</key>
		<string>livetell</string>
		<key>SupportedProtocols</key>
		<array>
			<string>git://</string>
			<string>https://</string>
			<string>http://</string>
		</array>
		<key>TransferProtocol</key>
		<string>ssh://</string>
	</dict>
</array>
</plist>
