<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Type</key>
		<integer>1</integer>
		<key>Title</key>
		<string>No Limit</string>
	</dict>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>Title</key>
		<string>Today</string>
	</dict>
	<dict>
		<key>Type</key>
		<integer>10</integer>
		<key>DaysOfHistory</key>
		<integer>1</integer>
		<key>Title</key>
		<string>Yesterday</string>
	</dict>
	<dict>
		<key>DaysOfHistory</key>
		<integer>3</integer>
		<key>Title</key>
		<string>3 days</string>
	</dict>
	<dict>
		<key>DaysOfHistory</key>
		<integer>7</integer>
		<key>Title</key>
		<string>1 week</string>
	</dict>
</array>
</plist>
